<style>

/* VYCENTROVANI */

body    {
margin: 0px;
}

#obal {
margin: auto;
width: 800px;
height: 740px;
position: relative;
left: 8px;
top: 10px; 
}

#bg     {
background-image: url('../img/palmy2.jpg');
background-repeat: no-repeat;
background-position: center; 
height: 1000;
width: 1000; 
position: relative; 
top: 30px;
left: -8px; 
}


/* ROZLOZENI */

#hlava   {
position: absolute;
top: 0px;
left: 0px;
width: 800px;
height: 100px;
}

#menu     {
height: 70px;
width: 800px;
position: absolute; 
top: 100px;
left: 0px;    
background-image: url('../img/menupozadi.png');
background-repeat: no-repeat; 
}

#obsah     {
height: 480px;
width: 800px;
position: absolute; 
top: 170px;
left: 0px;
overflow: auto;
}

#prouzek {
height: 15px;
width: 800px;
position: absolute;
top: 650px;
left: 0px;
}

#pata     {
height: 50px;
width: 800px;
position: absolute; 
top: 665px;
left: 0px;
background-image: url('../img/pata.png'); 
}

#menu, #obsah, #prouzek {
opacity: 0.95;
filter: alpha(opacity=95);
-moz-opacity: 0.95;
-khtml-opacity: 0.95; 
background-color: black; 
}


/* ODKAZY */

a img {
border: 0px;
}

a:visited {
color: violet;
text-decoration: none;  
}

a:link {
color: violet;
text-decoration: none; 
}

a:hover {
color: white;
text-decoration: underline; 
}


/* OSTATNI */

.menupolozky    {
text-align: center; 
position: relative;
top: 3px;
}

#preload     {
visibility: hidden; 
}

.diskografie {
color: white; 
margin-left: 40px;
margin-right: 40px;
text-align: center;
}

th {
background-color: #7c7c7c;
}

tr {
background-color: #2b2b2b;
}

h1         {
color: violet; 
margin-left: 40px;
}

.textobsah {
color: white; 
margin-left: 40px;
margin-right: 40px;
overflow: auto;
}


</style>